.git
.gitignore
.editorconfig
.env
.env.*
node_modules
vendor
npm-debug.log
yarn-error.log
.phpunit.result.cache
Homestead.json
Homestead.yaml
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*.php
